

<% if flash.alert %>
    <div class="alert alert-danger"><%= flash.alert %></div>
<% end %>
<% if flash.notice %>
    <div class="alert alert-success"><%= flash.notice %></div>
<% end %>

<h1 class="myComment" data-id="<%= @comment.id %>">Case Number :<%= @comment.case_number %></h1>
<p><%= link_to @comment.store.store_number, store_path(@comment.store) %> Incident Date: <%= @comment.visit_date.strftime("%m/%d/%Y") %> Time: <%= @comment.visit_time.strftime("%I:%M %p") %> Status: <%= @comment.status %> <br>
    Guest: <%= @comment.guest.first_name + " " + @comment.guest.last_name %> Main Issue: <%= @comment.first_issue %> # Updates <%= @comment.comment_updates.count %> <p>
<% if !@comment.comment_updates.empty? %>
    <button class="button button-light comment-updates" >See Updates</button>
<% end %>
    <button class="button button-light add-updates" >Add Update</button>

<div id="addUpdate">
</div>

<div id="updates">
</div>



<script>
    $(function(){
        $('.add-updates').on('click', function(){
            $('#updates').html("")
            let updateHtml ="<form onsubmit='postUpdate();return false;'><label>Date Updated</label><input id='theDate' type='date'><label>Contact Type</label><input id='theType' type='text'><label>Who Contacted</label><input id='theName' type='text'><br><label>Update</label><input id='theUpdate' type='text'><label>Close Comment?</label><input name='status' type='radio' value='Closed'><br><input type='submit'></form>"
            $('#addUpdate').html(updateHtml)
        })
    })

function postUpdate() {
    let theDate = document.getElementById('theDate').value;
    let theName = document.getElementById('theName').value;
    let theType = document.getElementById('theType').value;
    let theUpdate = document.getElementById('theUpdate').value;
    let theComment = parseInt($('.myComment').attr('data-id'))
    let newUpdate = JSON.stringify({update_date: theDate, update_type: theType, current_update: theUpdate, employee_name: theName, comment_id: theComment})
    let updatesDiv = document.getElementById('updates');
    let templateHTML ="<p>Date: " + theDate + " Contacted By: " + theName + " By: " + theType + "</p><p>" + theUpdate + "</p>"
    updatesDiv.innerHTML += templateHTML;
    $('#addUpdate').html("")
    }
</script>


