<% @stores.each do |s| %>
    <h2><%= link_to s.store_number, store_path(s) %> <%= s.name %></h2>
    <p>Phone: <%= s.phone %>
    Email: <%= s.store_email %>
    <br>Open Comments: <%= s.comments.open.count %>
 Closed Comments: <%= s.comments.closed.count %> </p>
<br></p>
<% end %>