    <p> <%= @store.name %> </p><br>
    <p> <%= @store.store_number %></p><br>
    <p> <%= @store.store_email %></p><br>
    <p> <%= @store.street_address %></p><br>
    <p> <%= @store.city %></p><br>
    <p> <%= @store.state %></p><br>
    <p> <%= @store.zip_code %></p><br>
    <p> <%= @store.phone %></p><br>
